@import "../common/styles/sass/variables.sass";
@import "../common/styles/sass/mixins";

.block {
  background-color: $bg2Color;
    height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .particles{
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
height: 400px;

  }
  .maincontainer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
    @media screen and (max-width: 709px) {
      justify-content: center;
    }

    .text {
      width: 360px;
      height: 150px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & h1 {
        @include text($fontDosis, 1.2, 36px, 300);
      }

      & p {
        @include text($fontDosis, 1.2, 22px, 300);
        margin: 0;
      }
    }

    .photo {
      display: flex;
      height: 400px;
      background-color: rgba(11, 52, 79, 0.78);
      z-index: 1;
      /*&:hover{
        filter: grayscale(80%)}*/
    }
  }
}



