@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins.scss";

.nav {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;

  a {
    @include text($fontDosis, 1.2, 25px, 300);
    padding: 0 5px;
    letter-spacing: 1px;

    &:hover {
      text-decoration: none;
      color: $primaryColor
    }
  }
  //.active {
  //  color: $primaryColor;
  //}
  @media screen and (max-width: 400px){
    //display: none;
  }
}
